<!DOCTYPE html>
<html>
<head>
	<title>Authentication</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/font-awesome/css/font-awesome.min.css">
</head>
<body>
<div class="container" style="padding-top: 20px;">
	<div class="jumbotron text-center">
		<h1><span class="fa fa-lock"></span> Authentication</h1>
		<a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
		<a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
	</div>
</div>
</body>
</html>