<div class="tab-content" ng-controller="itemList">
<table class="table table-hover table-inverse">
	<thead>
		<tr>
			<th>#</th>
			<th>Title</th>
			<th>Name</th>
			<th>Category</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in items | filter:search | filter:filters | orderBy:orderBy | pagination: currentPage * maxPage | limitTo: maxPage track by item._id">
			<td>{{$index+1}}</td>
			<td><input type="text" ng-model="item.title" value="{{::item.title | lowercase}}" 
			ng-disabled="editDisabled" class="form-control inputText" id="itemTitle"/></td>
			<td><input type="text" ng-model="item.name" value="{{::item.name | lowercase}}" 
			ng-disabled="editDisabled" class="form-control inputText" id="itemName"/></td>
			<td><select id="itemCategory" class="form-control" ng-model="item.category_id" ng-options="category.catId as category.name for category in categories" ng-disabled="editDisabled">
				</select></td>
			<td>
				<div ng-hide="editorEnabled" class="row editItem">
					<editing-item></editing-item>
				</div>	
				<div ng-show="editorEnabled" class="row editItem">
					<edit-item></edit-item>
				</div>
			</td>
		</tr>
		<div>
			<tr ng-hide="checked" class="last-tr">
				<td></td>
				<td><button type="button" class="btn btn-success editSpace btn-new" ng-click="checked = !checked">New Item</button>
					</td>
				<td></td>
				<td>

				</td>
				<td></td>
			</tr>
			<tr ng-show="checked">
				<form class="form-inline">
					<td></td>
					<td><input class="form-control editSpace" ng-model="item.title" type="text" name="title"/></td>
					<td><input class="form-control editSpace" ng-autocomplete ng-model="item.name" type="text" name="name" /></td>
					<td><select class="form-control editSpace" ng-model="item.category_id" ng-options="category.catId as category.name for category in categories">
						</select>
					</td>
					<td>
						<div class="row createItem">
							<div class="col-xs-6">
								<a href="" ng-click="createItem(item); checked = !checked"><span class="glyphicon glyphicon-ok"></span></a>
							</div>
							<div class="col-xs-6" style="margin-left: -33px">
								<a href="" ng-click="checked = !checked" >
								<span class='glyphicon glyphicon-remove'></span>
								</a>
							</div>
						</div>
					</td>
				</form>
			</tr>
		</div>
	</tbody>
</table>
<decorate-pagination></decorate-pagination>
</div>